 


  <div>
  <strong>First name:</strong> {{firstName}}<br />
  <strong>Last name:</strong> <span ng-bind="lastName"></span><br>
  <br />
  <label>Set the first name: <input type="text" ng-model="firstName" ng-blur="flag=flag+1" ng-init="flag=0"/></label><br>
  <label>Set the last name: <input type="text" ng-model="lastName" ng-change="callchange()"/></label><br>
  <span ng-bind="firstName"></span><br>
 {{firstName}} {{lastName}}

{{message}}

 <br>{{flag}} time entered in 1st Textfiled<br>
 {{count}} times changed the 2nd textfield value
 </div>
 <input type="checkbox" ng-model="check">
 <input type="checkbox" ng-checked="check">
 <input type="checkbox" ng-checked="check">
 <div>