<div class="container">
<div class="well well-lg">

<div class="col-xs-2">
<input type="text" placeholder="Search By Name" class="form-control" ng-model="byname"></div>
 <div class="col-xs-2">
<input type="text" placeholder="Search By Id" class="form-control" ng-model="byid"></div>  
<div class="col-xs-2">
<input type="text" placeholder="Search By Age" class="form-control" ng-model="byage"></div>
<div class="col-xs-2">
<input type="text" placeholder="Search By Address" class="form-control" ng-model="byaddress"></div>
<div class="col-xs-2">
<input type="text" placeholder="Search By Anything" class="form-control" ng-model="byanything"></div>



    <table class="table table-striped" ng-show="byname">
     </thead>
      <tr>
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        <th>ADDRESS</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in students | filter : byname track by $index" >
        <td>{{x.sname}}</td>
        <td>{{x.sid}}</td>
        <td>{{x.sage}}</td>
        <td>{{x.saddress}}</td>
      </tr>
 	</tbody>
</table>

<table class="table table-striped" ng-show="byid">
     </thead>
      <tr>
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        <th>ADDRESS</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in students | filter : byid track by $index" >
        <td>{{x.sname}}</td>
        <td>{{x.sid}}</td>
        <td>{{x.sage}}</td>
        <td>{{x.saddress}}</td>
      </tr>
 	</tbody>
</table>

<table class="table table-striped" ng-show="byage">
     </thead>
      <tr>
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        <th>ADDRESS</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in students | filter : byage track by $index">
        <td>{{x.sname}}</td>
        <td>{{x.sid}}</td>
        <td>{{x.sage}}</td>
        <td>{{x.saddress}}</td>
      </tr>
 	</tbody>
</table>

<table class="table table-striped" ng-show="byaddress">
     </thead>
      <tr>
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        <th>ADDRESS</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in students | filter : byaddress track by $index">
        <td>{{x.sname}}</td>
        <td>{{x.sid}}</td>
        <td>{{x.sage}}</td>
        <td>{{x.saddress}}</td>

      </tr>
 	</tbody>
</table>


<table class="table table-striped" ng-show="byanything">
     </thead>
      <tr>
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        <th>ADDRESS</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in students | filter : byanything track by $index" >
        <td>{{x.sname}}</td>
        <td>{{x.sid}}</td>
        <td>{{x.sage}}</td>
        <td>{{x.saddress}}</td>
        
      </tr>
 	</tbody>
</table>


<div class="mtab" ng-hide="byname+byid+byage+byaddress+byanything">
<table class="table table-striped" border="0px">
     </thead>
      <tr>
        <th>NAME</th>
        <th>ID</th>
        <th>AGE</th>
        <th>ADDRESS</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in students track by $index">
        <td>{{x.sname}}</td>
        <td>{{x.sid}}</td>
        <td>{{x.sage}}</td>
        <td>{{x.saddress}}</td>
        <td><input type="button" value="Delete" class="btn btn-danger" ng-click="del($index)">
        <input type="button" value="Update" class="btn btn-warning" ng-click="upd($index)"></td>
      
       </tr>
 	</tbody>
</table>
</div>

<input type="button" value="Save another's" class="btn btn-warning" ng-click="back()">

</div>
</div>